<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
    总订单
    </title>
  </head>
  <style type="text/css"> 
  body{ font-size:14px; line-height:24px;} 
  </style> 

  <body>
  <div>
    <p style={}>
        今天
        {% for _p in p %}
        {{ _p }},
        {% end %}
        没订饭.
  </p>
<!--  <h3>电话</h2>
  <h3> 吉野家 4008197197</h2>
  <h3> 必胜客 4008123123</h2>
  <h3> 真功夫 4006927927</h2>
  <h3> 大嘴梁 01082053202</h2>
  <h3> 成都冒菜粉 83229558</h2>
  <h3> 康师傅私房牛肉面 82200430</h2>
  <h3> 和合谷 83226233</h2>
  <h3> 麦当劳 4008517517</h2>
  <h3> 嘉禾一品 4001007008</h2>
  <h3> 肯德基 83227724</h2>
-->
  </div>
    {% for all in li %}
      <div>
        <div>
          <div>
            <h2>{{ all['from'] }}      
                <small>
                    总价{{ all['price'] }}元
                </small>
            <h2>
          </div>
          {% for order in all['order'] %}
            <p>
             [{{ all['from'] }}]
             {{ order['dish'] }}
                  <small>
                    共{{ order['number'] }}个
                  </small>
              <strong>
              {% for people in order['people'] %}
              {{ people }},
              {% end %}
              </strong>
           </p>
            {% end %}
        </div>
      </div>
    {% end %}
  </body>

</html>
